                <div class="discounted-item illustration grid_4 portfolio yoxview" rel="/store/products/FieldLazer-631-0.html">	
			<div class="portfolio-ribbon"></div>    
			<a href="images/post/big.jpg"><img src="/images/post/p1.png" alt="" width="190"  height="190"/></a>
			<div class="portfolio-page"></div>
		    	<h1>Portfolio Image Test</h1>
                        <p>Fusce est sem, mattis et luctus at.</p>
                        <% for s in @some  %>
                        <%=h s %>
                        <% end %>
			<a href="#" class="more">more</a> 
		</div>
